morpher-language-handlers/data/ocamorph-results.csv filter=lfs diff=lfs merge=lfs -text
morpher-systems/morpher-system-impl/src/test/resources/com/github/szgabsz91/morpher/systems/impl/graphs/affix-type-chains.csv filter=lfs diff=lfs merge=lfs -text
