<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">

    <module name="FileLength">
        <property name="max" value="1500" />
    </module>

    <module name="FileTabCharacter">
        <property name="eachLine" value="false" />
    </module>

    <module name="Header">
        <property name="headerFile" value="${rootDir}/LICENSE.java" />
        <property name="charset" value="UTF-8" />
        <property name="fileExtensions" value="java" />
    </module>

    <module name="JavadocPackage">
        <property name="allowLegacy" value="false" />
        <property name="fileExtensions" value="java" />
    </module>

    <module name="LineLength">
        <property name="ignorePattern" value="^$" />
        <property name="max" value="120" />
    </module>

    <module name="NewlineAtEndOfFile">
        <property name="lineSeparator" value="lf" />
    </module>

    <module name="SuppressWarningsFilter" />

    <module name="TreeWalker">
        <module name="AbbreviationAsWordInName">
            <property name="allowedAbbreviationLength" value="6" />
            <property name="ignoreFinal" value="true" />
            <property name="ignoreStatic" value="true" />
            <property name="ignoreOverriddenMethods" value="false" />
            <property name="tokens" value="CLASS_DEF,INTERFACE_DEF,ENUM_DEF,ANNOTATION_DEF,ANNOTATION_FIELD_DEF,PARAMETER_DEF,VARIABLE_DEF,METHOD_DEF" />
        </module>
        <module name="AbstractClassName">
            <property name="format" value="^Abstract.+$" />
            <property name="ignoreModifier" value="false" />
            <property name="ignoreName" value="false" />
        </module>
        <module name="AnnotationLocation">
            <property name="allowSamelineMultipleAnnotations" value="false" />
            <property name="allowSamelineSingleParameterlessAnnotation" value="false" />
            <property name="allowSamelineParameterizedAnnotation" value="false" />
            <property name="tokens" value="CLASS_DEF,INTERFACE_DEF,ENUM_DEF,METHOD_DEF,CTOR_DEF,VARIABLE_DEF,ANNOTATION_DEF" />
        </module>
        <module name="AnnotationUseStyle">
            <property name="elementStyle" value="compact_no_array" />
            <property name="closingParens" value="never" />
            <property name="trailingArrayComma" value="never" />
        </module>
        <module name="AnonInnerLength">
            <property name="max" value="25" />
        </module>
        <module name="ArrayTypeStyle">
            <property name="javaStyle" value="true" />
        </module>
        <module name="AtclauseOrder">
            <property name="target" value="CLASS_DEF,INTERFACE_DEF,ENUM_DEF,METHOD_DEF,CTOR_DEF,VARIABLE_DEF" />
            <property name="tagOrder" value="@author,@version,@param,@return,@throws,@exception,@see,@since,@serial,@serialField,@serialData,@deprecated" />
        </module>
        <module name="AvoidEscapedUnicodeCharacters">
            <property name="allowEscapesForControlCharacters" value="false" />
            <property name="allowByTailComment" value="false" />
            <property name="allowIfAllCharactersEscaped" value="false" />
            <property name="allowNonPrintableEscapes" value="false" />
        </module>
        <module name="AvoidNestedBlocks">
            <property name="allowInSwitchCase" value="false" />
        </module>
        <module name="AvoidStarImport">
            <property name="excludes" value="" />
            <property name="allowClassImports" value="false" />
            <property name="allowStaticMemberImports" value="false" />
        </module>
        <module name="AvoidStaticImport">
            <property name="excludes" value="java.util.stream.Collectors.*,java.util.Comparator.*" />
        </module>
        <module name="BooleanExpressionComplexity">
            <property name="max" value="6" />
            <property name="tokens" value="LAND,BAND,LOR,BOR,BXOR" />
        </module>
        <module name="ClassDataAbstractionCoupling">
            <property name="max" value="15" />
            <property name="excludedClasses" value="boolean,char,double,int,long,void,Boolean,Character,Double,Integer,Long,Void,Object,Class,String,StringBuilder,ArrayIndexOutOfBoundsException,Exception,RuntimeException,IllegalArgumentException,IllegalStateException,IndexOutOfBoundsException,NullPointerException,Throwable,UnsupportedOperationException,List,ArrayList,Queue,LinkedList,Set,HashSet,Map,HashMap" />
        </module>
        <module name="ClassFanOutComplexity">
            <property name="max" value="50" />
            <property name="excludedClasses" value="boolean,char,double,int,long,void,Boolean,Character,Double,Integer,Long,Void,Object,Class,String,StringBuilder,ArrayIndexOutOfBoundsException,Exception,RuntimeException,IllegalArgumentException,IllegalStateException,IndexOutOfBoundsException,NullPointerException,Throwable,UnsupportedOperationException,List,ArrayList,Queue,LinkedList,Set,HashSet,Map,HashMap" />
        </module>
        <module name="ClassTypeParameterName">
            <property name="format" value="^T([A-Z][a-z]*)?$" />
        </module>
        <module name="CommentsIndentation">
            <property name="tokens" value="SINGLE_LINE_COMMENT,BLOCK_COMMENT_BEGIN" />
        </module>
        <module name="ConstantName">
            <property name="format" value="^[A-ZÁÉÍÓÖŐÚÜŰ][A-ZÁÉÍÓÖŐÚÜŰ0-9]*(_[A-ZÁÉÍÓÖŐÚÜŰ0-9]+)*(_)*$" />
            <property name="applyToPublic" value="true" />
            <property name="applyToProtected" value="true" />
            <property name="applyToPackage" value="true" />
            <property name="applyToPrivate" value="true" />
        </module>
        <module name="CovariantEquals" />
        <module name="CyclomaticComplexity">
            <property name="max" value="50" />
        </module>
        <module name="DeclarationOrder">
            <property name="ignoreConstructors" value="false" />
            <property name="ignoreModifiers" value="false" />
        </module>
        <module name="DefaultComesLast" />
        <module name="EmptyBlock">
            <property name="option" value="text" />
            <property name="tokens" value="LITERAL_WHILE,LITERAL_TRY,LITERAL_CATCH,LITERAL_FINALLY,LITERAL_DO,LITERAL_IF,LITERAL_ELSE,LITERAL_FOR,INSTANCE_INIT,STATIC_INIT,LITERAL_SWITCH,LITERAL_SYNCHRONIZED,LITERAL_CASE,LITERAL_DEFAULT,ARRAY_INIT" />
        </module>
        <module name="EmptyCatchBlock">
            <property name="exceptionVariableName" value="e" />
            <property name="commentFormat" value="^Ignored.*$" />
        </module>
        <module name="EmptyForInitializerPad">
            <property name="option" value="nospace" />
        </module>
        <module name="EmptyForIteratorPad">
            <property name="option" value="nospace" />
        </module>
        <module name="EmptyLineSeparator">
            <property name="allowNoEmptyLineBetweenFields" value="true" />
            <property name="allowMultipleEmptyLines" value="false" />
            <property name="tokens" value="IMPORT,CLASS_DEF,INTERFACE_DEF,ENUM_DEF,STATIC_INIT,INSTANCE_INIT,METHOD_DEF,CTOR_DEF,VARIABLE_DEF" />
        </module>
        <module name="EmptyStatement" />
        <module name="EqualsAvoidNull">
            <property name="ignoreEqualsIgnoreCase" value="false" />
        </module>
        <module name="EqualsHashCode" />
        <module name="ExecutableStatementCount">
            <property name="max" value="75" />
            <property name="tokens" value="CTOR_DEF,METHOD_DEF,INSTANCE_INIT,STATIC_INIT" />
        </module>
        <module name="ExplicitInitialization" />
        <module name="FallThrough">
            <property name="checkLastCaseGroup" value="true" />
            <property name="reliefPattern" value="^$" />
        </module>
        <module name="FinalClass" />
        <module name="FinalLocalVariable">
            <property name="validateEnhancedForLoopVariable" value="true" />
            <property name="tokens" value="VARIABLE_DEF,PARAMETER_DEF" />
        </module>
        <module name="FinalParameters">
            <property name="ignorePrimitiveTypes" value="false" />
            <property name="tokens" value="METHOD_DEF,CTOR_DEF,LITERAL_CATCH,FOR_EACH_CLAUSE" />
        </module>
        <module name="GenericWhitespace" />
        <module name="HideUtilityClassConstructor" />
        <module name="IllegalCatch">
            <property name="illegalClassNames" value="java.lang.Exception,java.lang.RuntimeException" />
        </module>
        <module name="IllegalImport">
            <property name="illegalPkgs" value="sun" />
        </module>
        <module name="IllegalInstantiation">
            <property name="classes" value="java.lang.Boolean" />
            <property name="tokens" value="CLASS_DEF" />
        </module>
        <module name="IllegalThrows">
            <property name="illegalClassNames" value="java.lang.Throwable, java.lang.Error, java.lang.RuntimeException" />
            <property name="ignoredMethodNames" value="" />
            <property name="ignoreOverriddenMethods" value="false" />
        </module>
        <module name="IllegalToken">
            <property name="tokens" value="LABELED_STAT" />
        </module>
        <module name="Indentation">
            <property name="basicOffset" value="4" />
            <property name="braceAdjustment" value="0" />
            <property name="caseIndent" value="4" />
            <property name="throwsIndent" value="8" />
            <property name="arrayInitIndent" value="4" />
            <property name="lineWrappingIndentation" value="8" />
            <property name="forceStrictCondition" value="true" />
        </module>
        <module name="InnerAssignment" />
        <module name="InnerTypeLast" />
        <module name="InterfaceTypeParameterName">
            <property name="format" value="^T([A-Z][a-z0-9]*)?$" />
        </module>
        <module name="JavadocMethod">
            <property name="allowedAnnotations" value="Override" />
            <property name="validateThrows" value="false" />
            <property name="accessModifiers" value="public, protected" />
            <property name="allowMissingParamTags" value="false" />
            <property name="allowMissingReturnTag" value="true" />
            <property name="tokens" value="METHOD_DEF,CTOR_DEF,ANNOTATION_FIELD_DEF" />
        </module>
        <module name="JavadocParagraph">
            <property name="allowNewlineParagraph" value="true" />
        </module>
        <module name="JavadocStyle">
            <property name="scope" value="private" />
            <property name="checkFirstSentence" value="true" />
            <property name="checkEmptyJavadoc" value="true" />
            <property name="checkHtml" value="true" />
            <property name="tokens" value="ANNOTATION_DEF,ANNOTATION_FIELD_DEF,CLASS_DEF,CTOR_DEF,ENUM_CONSTANT_DEF,ENUM_DEF,INTERFACE_DEF,METHOD_DEF,PACKAGE_DEF,VARIABLE_DEF" />
        </module>
        <module name="JavadocTagContinuationIndentation">
            <property name="offset" value="2" />
        </module>
        <module name="JavadocType">
            <property name="scope" value="private" />
            <property name="allowMissingParamTags" value="false" />
            <property name="allowUnknownTags" value="false" />
            <property name="tokens" value="INTERFACE_DEF,CLASS_DEF,ENUM_DEF,ANNOTATION_DEF" />
        </module>
        <module name="JavadocVariable">
            <property name="scope" value="protected" />
            <property name="tokens" value="ENUM_CONSTANT_DEF" />
        </module>
        <module name="JavaNCSS">
            <property name="methodMaximum" value="100" />
            <property name="classMaximum" value="375" />
            <property name="fileMaximum" value="450" />
        </module>
        <module name="LeftCurly">
            <property name="option" value="eol" />
            <property name="ignoreEnums" value="false" />
            <property name="tokens" value="INTERFACE_DEF,CLASS_DEF,ANNOTATION_DEF,ENUM_DEF,CTOR_DEF,METHOD_DEF,ENUM_CONSTANT_DEF,LITERAL_WHILE,LITERAL_TRY,LITERAL_CATCH,LITERAL_FINALLY,LITERAL_SYNCHRONIZED,LITERAL_SWITCH,LITERAL_DO,LITERAL_IF,LITERAL_ELSE,LITERAL_FOR,STATIC_INIT" />
        </module>
        <module name="LocalFinalVariableName">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$" />
            <property name="tokens" value="VARIABLE_DEF,PARAMETER_DEF" />
        </module>
        <module name="LocalVariableName">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$" />
        </module>
        <module name="MagicNumber">
            <property name="ignoreNumbers" value="-1,0,1,2,3,4,5,6,100,10000" />
            <property name="ignoreHashCodeMethod" value="true" />
            <property name="ignoreAnnotation" value="false" />
            <property name="ignoreFieldDeclaration" value="false" />
            <property name="constantWaiverParentToken" value="ASSIGN,ARRAY_INIT,EXPR,UNARY_PLUS,UNARY_MINUS,TYPECAST,ELIST,LITERAL_NEW,METHOD_CALL,STAR,DIV,PLUS,MINUS" />
            <property name="tokens" value="NUM_DOUBLE,NUM_FLOAT,NUM_INT,NUM_LONG" />
        </module>
        <module name="MemberName">
            <property name="format" value="^_?[a-z][a-zA-Z0-9]*$" />
            <property name="applyToPublic" value="true" />
            <property name="applyToProtected" value="true" />
            <property name="applyToPackage" value="true" />
            <property name="applyToPrivate" value="true" />
        </module>
        <module name="MethodCount">
            <property name="maxTotal" value="35" />
            <property name="maxProtected" value="10" />
            <property name="maxPrivate" value="15" />
            <property name="maxPackage" value="10" />
            <property name="maxPublic" value="31" />
            <property name="tokens" value="CLASS_DEF,ENUM_CONSTANT_DEF,ENUM_DEF,INTERFACE_DEF" />
        </module>
        <module name="MethodLength">
            <property name="max" value="450" />
            <property name="countEmpty" value="false" />
            <property name="tokens" value="METHOD_DEF,CTOR_DEF" />
        </module>
        <module name="MethodParamPad">
            <property name="allowLineBreaks" value="true" />
            <property name="option" value="nospace" />
            <property name="tokens" value="CTOR_DEF,LITERAL_NEW,METHOD_CALL,METHOD_DEF,SUPER_CTOR_CALL" />
        </module>
        <module name="MethodTypeParameterName">
            <property name="format" value="^(S|T([A-Z][a-z]*)?)|(K\d?)|(V\d?)$" />
        </module>
        <module name="MissingDeprecated" />
        <module name="MissingOverride">
            <property name="javaFiveCompatibility" value="false" />
        </module>
        <module name="MissingSwitchDefault" />
        <module name="ModifierOrder" />
        <module name="MultipleStringLiterals">
            <property name="allowedDuplicates" value="8" />
            <property name="ignoreOccurrenceContext" value="ANNOTATION" />
        </module>
        <module name="MultipleVariableDeclarations" />
        <module name="MutableException">
            <property name="format" value="^.*Exception$|^.*Error$|^.*Throwable$" />
            <property name="extendedClassNameFormat" value="^.*Exception$|^.*Error$|^.*Throwable$" />
        </module>
        <module name="NeedBraces">
            <property name="allowSingleLineStatement" value="false" />
            <property name="tokens" value="LITERAL_DO,LITERAL_ELSE,LITERAL_FOR,LITERAL_IF,LITERAL_WHILE" />
        </module>
        <module name="NestedForDepth">
            <property name="max" value="2" />
        </module>
        <module name="NestedIfDepth">
            <property name="max" value="2" />
        </module>
        <module name="NestedTryDepth">
            <property name="max" value="2" />
        </module>
        <module name="NoClone" />
        <module name="NoFinalizer" />
        <module name="NoLineWrap">
            <property name="tokens" value="IMPORT,PACKAGE_DEF" />
        </module>
        <module name="NonEmptyAtclauseDescription" />
        <module name="NoWhitespaceAfter">
            <property name="allowLineBreaks" value="false" />
            <property name="tokens" value="INC,DEC,UNARY_MINUS,UNARY_PLUS,BNOT,LNOT,DOT,ARRAY_DECLARATOR" />
        </module>
        <module name="NoWhitespaceBefore">
            <property name="allowLineBreaks" value="true"/>
            <property name="tokens" value="COMMA,SEMI,POST_INC,POST_DEC,DOT,GENERIC_END" />
        </module>
        <module name="OneStatementPerLine" />
        <module name="OneTopLevelClass" />
        <module name="OperatorWrap">
            <property name="option" value="eol" />
            <property name="tokens" value="QUESTION,COLON,EQUAL,NOT_EQUAL,DIV,PLUS,MINUS,STAR,MOD,SR,BSR,GE,GT,SL,LE,LT,BXOR,BOR,LOR,BAND,LAND,LITERAL_INSTANCEOF,TYPE_EXTENSION_AND,ASSIGN,DIV_ASSIGN,PLUS_ASSIGN,MINUS_ASSIGN,STAR_ASSIGN,MOD_ASSIGN,SR_ASSIGN,BSR_ASSIGN,SL_ASSIGN,BXOR_ASSIGN,BOR_ASSIGN,BAND_ASSIGN" />
        </module>
        <module name="OuterTypeFilename" />
        <module name="OuterTypeNumber">
            <property name="max" value="1" />
        </module>
        <module name="PackageAnnotation" />
        <module name="PackageDeclaration" />
        <module name="PackageName">
            <property name="format" value="^com\.github\.szgabsz91\.[a-z]+(\.[a-z][a-z0-9]*)*$" />
        </module>
        <module name="ParameterAssignment" />
        <module name="ParameterName">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$" />
        </module>
        <module name="ParameterNumber">
            <property name="max" value="20" />
            <property name="ignoreOverriddenMethods" value="false" />
            <property name="tokens" value="METHOD_DEF,CTOR_DEF" />
        </module>
        <module name="ParenPad">
            <property name="option" value="nospace" />
            <property name="tokens" value="ANNOTATION,ANNOTATION_FIELD_DEF,CTOR_CALL,CTOR_DEF,ENUM_CONSTANT_DEF,EXPR,LITERAL_CATCH,LITERAL_DO,LITERAL_FOR,LITERAL_IF,LITERAL_NEW,LITERAL_SWITCH,LITERAL_SYNCHRONIZED,LITERAL_WHILE,METHOD_CALL,METHOD_DEF,QUESTION,RESOURCE_SPECIFICATION,SUPER_CTOR_CALL" />
        </module>
        <module name="RedundantImport" />
        <module name="RedundantModifier">
            <property name="tokens" value="METHOD_DEF,VARIABLE_DEF,ANNOTATION_FIELD_DEF,INTERFACE_DEF,CTOR_DEF,CLASS_DEF,ENUM_DEF" />
        </module>
        <module name="RequireThis">
            <property name="checkFields" value="false" />
            <property name="checkMethods" value="true" />
        </module>
        <module name="ReturnCount">
            <property name="max" value="30" />
            <property name="maxForVoid" value="10" />
            <property name="format" value="^(equals|createSound|createCharacter)$" />
            <property name="tokens" value="CTOR_DEF,METHOD_DEF,LAMBDA" />
        </module>
        <module name="RightCurly">
            <property name="option" value="alone" />
            <property name="tokens" value="LITERAL_TRY,LITERAL_CATCH,LITERAL_FINALLY,LITERAL_IF,LITERAL_ELSE,CLASS_DEF,METHOD_DEF,CTOR_DEF,LITERAL_FOR,LITERAL_WHILE,LITERAL_DO,STATIC_INIT,INSTANCE_INIT" />
        </module>
        <module name="SimplifyBooleanExpression" />
        <module name="SimplifyBooleanReturn" />
        <module name="SingleLineJavadoc">
            <property name="ignoredTags" value="" />
            <property name="ignoreInlineTags" value="true" />
        </module>
        <module name="StaticVariableName">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$" />
            <property name="applyToPublic" value="true" />
            <property name="applyToProtected" value="true" />
            <property name="applyToPackage" value="true" />
            <property name="applyToPrivate" value="true" />
        </module>
        <module name="StringLiteralEquality" />
        <module name="SummaryJavadocCheck" />
        <module name="SuperClone" />
        <module name="SuperFinalize" />
        <module name="SuppressWarningsHolder" />
        <module name="ThrowsCount">
            <property name="max" value="2" />
            <property name="ignorePrivateMethods" value="true" />
        </module>
        <module name="TodoComment">
            <property name="format" value="(TODO|FIXME)" />
        </module>
        <module name="TrailingComment">
            <property name="format" value="^ *$" />
        </module>
        <module name="TypecastParenPad">
            <property name="option" value="nospace" />
        </module>
        <module name="TypeName">
            <property name="format" value="^[A-Z][a-zA-Z0-9]+$" />
            <property name="tokens" value="CLASS_DEF,ENUM_DEF,ANNOTATION_DEF" />
        </module>
        <module name="TypeName">
            <property name="format" value="^I?[A-Z][a-zA-Z0-9]+$" />
            <property name="tokens" value="INTERFACE_DEF" />
        </module>
        <module name="UncommentedMain">
            <property name="excludedClasses" value="App$" />
        </module>
        <module name="UnnecessaryParentheses">
            <property name="tokens" value="EXPR,IDENT,NUM_DOUBLE,NUM_FLOAT,NUM_INT,NUM_LONG,STRING_LITERAL,LITERAL_NULL,LITERAL_FALSE,LITERAL_TRUE,ASSIGN,BAND_ASSIGN,BOR_ASSIGN,BSR_ASSIGN,BXOR_ASSIGN,DIV_ASSIGN,MINUS_ASSIGN,MOD_ASSIGN,PLUS_ASSIGN,SL_ASSIGN,SR_ASSIGN,STAR_ASSIGN" />
        </module>
        <module name="UnusedImports">
            <property name="processJavadoc" value="true" />
        </module>
        <module name="UpperEll" />
        <module name="WhitespaceAfter">
            <property name="tokens" value="COMMA,SEMI,TYPECAST" />
        </module>
        <module name="WhitespaceAround">
            <property name="allowEmptyConstructors" value="false" />
            <property name="allowEmptyMethods" value="false" />
            <property name="allowEmptyTypes" value="false" />
            <property name="allowEmptyLoops" value="false" />
            <property name="ignoreEnhancedForColon" value="false" />
            <property name="tokens" value="ASSIGN,BAND,BAND_ASSIGN,BOR,BOR_ASSIGN,BSR,BSR_ASSIGN,BXOR,BXOR_ASSIGN,COLON,DIV,DIV_ASSIGN,DO_WHILE,EQUAL,GE,GT,LAND,LCURLY,LE,LITERAL_CATCH,LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_FOR,LITERAL_IF,LITERAL_RETURN,LITERAL_SWITCH,LITERAL_SYNCHRONIZED,LITERAL_TRY,LITERAL_WHILE,LOR,LT,MINUS,MINUS_ASSIGN,MOD,MOD_ASSIGN,NOT_EQUAL,PLUS,PLUS_ASSIGN,QUESTION,RCURLY,SL,SLIST,SL_ASSIGN,SR,SR_ASSIGN,STAR,STAR_ASSIGN,LITERAL_ASSERT,TYPE_EXTENSION_AND" />
        </module>
        <module name="WhitespaceAfter">
            <property name="tokens" value="COMMA,SEMI,TYPECAST" />
        </module>

        <property name="tabWidth" value="4" />
        <property name="fileExtensions" value="java" />

    </module>

    <module name="UniqueProperties">
        <property name="fileExtensions" value="properties" />
    </module>

</module>
